body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 margin-top: 0%;
  background: black;
 
  
}
.scene {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  perspective: 800px;
  padding-top: 100px ;
  text-align: justify;

}
.scene .card {   background: #D41367;  
  position: relative;
  width: 240px;
  height: 300px;
  color: white;
  cursor: pointer;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
}
.scene .card:hover {
  transform: rotateY(0.5turn);
}
.scene .card .card__face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: 1s ease-in-out;
  -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, #D41367);
}
.scene .card .card__face img {
  width: 240px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.scene .card .card__face--back {
  transform: rotateY(0.5turn);
}
@media (max-width: 768px) {
  .xx{
    margin-top: 100px;
  }
  .vv{
    margin-top: 800px;
    padding-top: 300px;
  }
  body {
    display: flex;

    justify-content: center;
    align-items: center;
 
   margin-top: 0%;
    background: black; min-height: 0;
  }
  .scene {
    flex-direction: column;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    perspective: 800px;
    min-height: 0;
    gap: 20px;
  }
  .scene .card {
    position: relative;
    width: 240px;
    height: 300px;
    color: white;
    cursor: pointer;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
   
  }
  .scene .card:hover {
    transform: rotateY(0.5turn);
  }
  .scene .card .card__face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: 1s ease-in-out;
    -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, #D41367);
  }
  .scene .card .card__face img {
    width: 240px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .scene .card .card__face--back {
    transform: rotateY(0.5turn);
  }
}
